@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot');
	src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),	url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff') format('woff'),	url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf') format('truetype'),	url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@-webkit-keyframes bounceTop {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-25px); }
  60% {
    -webkit-transform: translateY(-15px); } }

@-moz-keyframes bounceTop {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-25px); }
  60% {
    -moz-transform: translateY(-15px); } }

@-o-keyframes bounceTop {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-25px); }
  60% {
    -o-transform: translateY(-15px); } }

@keyframes bounceTop {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

li.li-bold::marker {
  font-weight: bold;
}

.content-in ul li,
.content-in ol li {
  margin-bottom: 15px;
}

.content-in ul.m-0 li,
.content-in ol.m-0 li{
  margin-bottom: 0;
}

.icon-wa {
  position: fixed;
  right: 20px;
  bottom: 60px;
  padding: 8px;
  z-index: 9999;
  background: #40c351;
  border-radius: 100%;
  box-shadow: 2px 2px 3px #999;
}
.icon-wa:hover {
  background: #08a317;
}
.icon-wa svg {
  width: 30px;
  height: 30px;
}

.note-wa {
  position: fixed;
  z-index: 9999;
  right: 25px;
  bottom: 115px;
  display: inline-block;
  width: 140px;
  height: auto;
  background-color: #666;
  font-size: 12px;
  color: #fff;
  padding: 10px;
	border-radius: 10px;
  -webkit-animation: bounceTop 2s infinite;
  animation: bounceTop 2s infinite;
}

.note-wa:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 30px;
  bottom: -15px;
  border: 14px solid;
  border-color: #666 #666 transparent transparent;
}

.label-detail {
  position: relative;
}


.label-detail:after {
  position: absolute;
  content: ':';
  right: 0;
  top: 0;
}

label {
  margin-bottom: 0 !important;
}

.navbar-brand img {
  height: 50px;
}


.underline {
  text-decoration: underline;
}

.floatleft {
  float: left;
}

.btn-100 {
  width: 100%;
}

.img-100 {
	width: 100%;
	height: auto;
}

.modal-title {
	font-weight: bold;
}

.box-shadow-1 {
  box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.10);
}

.checkbox-in {
	padding-left: 20px;
	position: relative;
}

.checkbox-in svg {
	position: absolute;
	left: 0;
	top: 4px;
}

.checkbox-in svg.fa-check-square path {
	color: var(--bs-primary);
}

.title-section {
  position: relative;
}

.title-section:after {
  position: absolute;
  width: 80px;
  height: 5px;
  background: var(--bs-primary);
  content: '';
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
}


.title-section:before {
  position: absolute;
  width: 150px;
  height: 1px;
  background: #CCCCCC;
  content: '';
  left: 0;
  right: 0;
  bottom: -18px;
  margin: auto;
}


.slider-item img {
  width: 100%;
  height: auto;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
}

.custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #dee2e6;
}

.custom-control-label::before, .custom-file-label, .custom-select {
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0.25rem;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  background-color: #007bff;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control-label::after {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

ul#layanan-list {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

ul#layanan-list li {
	list-style: none;
}

.sc-layanan-item {
  box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 10%);
  -webkit-box-shadow: 5px 5px 20px 0px rgb(0 0 0 / 10%);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.10);
  border-radius: 20px;
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
  background: var(--bs-white);
}

.sc-layanan-item-img {
  position: relative;
  padding-top: 30%;
  width: 100%;
}

.sc-layanan-item img {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

.sc-layanan-item h4 {
  font-size: 20px;
}

.sc-layanan-item p {
  font-size: 14px;
  margin-bottom: 0;
}

.item-c {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.item-c .caption {
  padding: 20px;
}

.thumbnail {
  padding-top: 60%;
  position: relative;
  overflow: hidden;
}

.thumbnail img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
}



/*
    Common
*/

.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}





/*
    Wizard
*/

.wizard > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 30%;
}

.wizard > .steps .number
{
    font-size: 12px;
}

.wizard > .steps > ul > li
{
    width: 33.33%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;

}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background: #eee;
    color: #aaa;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background: #fcfcfc;
    color: #111;
    cursor: default;
    border: 1px solid var(--bs-primary);
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background: var(--bs-primary);
    color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    background: #ff3111;
    color: #fff;
}

.wizard > .content
{
    display: block;
    margin: 0.5em;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    width: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard > .content > .body
{
    float: left;
    /* position: absolute; */
    width: 100%;
    padding: 0;
}


.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

.wizard > .content > .body input
{
    display: block;
    border: 1px solid #ccc;
}


.layanan-radio input[type="radio"]
{
  width: 0;
  height: 0;
}

.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}


.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em !important;
}

.sc-layanan-item,
.wizard > .content > .body .layanan-radio label {
  width: 100%;
  display: inline-table;
  height: 100%;
}

.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background: var(--bs-primary);
    color: var(--bs-white);
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background: #eee;
    color: #aaa;
}

.wizard > .loading
{
}

.wizard > .loading .spinner
{
}



/*
    Tabcontrol
*/

.tabcontrol > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
    display: list-item;
}



fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

.wizard-wrap input[type="text"],
.wizard-wrap input[type="email"],
.wizard-wrap input[type="tel"],
.wizard-wrap input[type="url"],
.wizard-wrap textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

.wizard-wrap input[type="text"]:hover,
.wizard-wrap input[type="email"]:hover,
.wizard-wrap input[type="tel"]:hover,
.wizard-wrap input[type="url"]:hover,
.wizard-wrap textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.wizard-wrap textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.wizard-wrap button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.wizard-wrap button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.wizard-wrap button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

.wizard-wrap input:focus,
.wizard-wrap textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}


.steps > ul > li > a,
.actions li a {
    padding: 10px;
    text-decoration: none;
    margin: 1px;
    display: block;
    color: #777;
}
.steps > ul > li,
.actions li {
    list-style:none;
}


ul.payment-radio,
ul.layanan-radio {
  list-style-type: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

ul.payment-radio li,
ul.layanan-radio li {
  display: inline-block !important;
}

ul.payment-radio input[type="radio"],
ul.layanan-radio input[type="radio"] {
  opacity: 0;
  visibility: hidden;
}

ul.payment-radio label,
ul.layanan-radio label {
  padding: 10px;
  display: block;
  position: relative;
  cursor: pointer;
  width: 100%;
}

ul.payment-radio label:before,
ul.layanan-radio label:before {
  background-color: var(--bs-primary);
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid var(--bs-primary);
  position: absolute;
  top: 5px;
  left:-5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

ul.payment-radio label img {
  height: 35px;
  width: auto;
  max-width: unset;
}

ul.layanan-radio label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

ul.payment-radio input:checked + label,
ul.layanan-radio input:checked + label {
  border-color: var(--bs-primary);
}

ul.payment-radio input:checked + label:before,
ul.layanan-radio input:checked + label:before {
  content: "✓";
  background-color: var(--bs-primary);
  transform: scale(1);
}

ul.payment-radio input:checked + label img,
ul.layanan-radio input:checked + label img {
  transform: scale(1.1);
}


.section-o {
  border-top: 50px solid var(--bs-gray);
  border-bottom: 50px solid var(--bs-gray);
}

.img-wrapper{
  min-height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;

  width: 48%;
  left: 0;
  top: 0;
  margin: auto;
}

.offset-sm-6.right {
  margin-left: unset;
  margin-right: 50%;
}

.img-wrapper.right {
  left: unset;
  right: 0;
}

.dropdown-menu-nav {
  background: #F8F8F8;
}

.input-group-addon {
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #495057;
  text-align: center;
  background-color: #F5F5F5;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.5rem;
  display: block !important;
}

.input-group-addon-w .form-control {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.input-group-addon, .input-group-btn {
  white-space: nowrap;
  vertical-align: middle;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.input-group label.error {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0;
  color: var(--bs-red);
}

span.pass-notif {
  position: absolute;
  bottom: -25px;
  font-size: 14px;
  color: var(--bs-secondary);
}

.btn-icon {
  border: none;
  box-shadow: none;
  background: transparent;
}

.btn-icon-avatar {
	border: none;
	box-shadow: none;
	background: transparent;
	width: 35px;
	height: 35px;
	background-image: url('../img/avatar.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 1px solid var(--bs-primary);
	border-radius: 20px;
}

.btn-icon-avatar:hover {
	background-color: #23242A;
}

.current-page {
  background-color: #15545b;
  border-color: #15545b;
  color: #fff;
}

.tabs-col-2 ul li.nav-item {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tabs-col-2 ul li.nav-item button {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tabs-col-2 ul li.nav-item .nav-link.active {
  background-color: transparent;
  color: var(--bs-primary);
  font-weight: bold;
}

.tabs-col-2 li.nav-item .nav-link.active:after {
  width: 100%;
  height: 4px;
  background: var(--bs-primary);
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
}

.box-tab-item {
  font-size: 14px;
}

.btn-small {
  font-size: 10px;
}

.callout {
  position: relative;
  margin: 0 0 1rem;
  padding: 1rem;
  border: 1px solid hsla(0,0%,4%,.25);
  border-radius: 0;
  background-color: #fff;
  color: #0a0a0a;
}

.callout>:first-child {
    margin-top: 0;
}

table.invoice tbody td,
table.invoice tbody th {
    padding: .5rem .625rem .625rem;
}

table.invoice tbody tr:nth-child(even) {
    border-bottom: 0;
    background-color: #f1f1f1;
}

table.invoice,
table.invoice table {
  width: 100%;
  margin-bottom: 1rem;
}

table.invoice {
  background: #fff;
}
table.invoice .num {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8em;
}
table.invoice tr, table.invoice td {
  background: #fff;
  text-align: left;
  font-weight: 400;
  color: #322d28;
  padding: 10px 0;
}
table.invoice tr.header td img {
  max-width: 300px;
}
table.invoice tr.header td h2 {
  text-align: right;
  font-weight: 200;
  font-size: 2rem;
  color: #1779ba;
}
table.invoice tr.intro td:nth-child(2) {
  text-align: right;
}
table.invoice tr.details > td {
  padding-bottom: 0;
}
table.invoice tr.details td.id, table.invoice tr.details th.id, table.invoice tr.details td.qty, table.invoice tr.details th.qty {
  text-align: center;
}
table.invoice tr.details td:last-child, table.invoice tr.details th:last-child {
  text-align: right;
}
table.invoice tr.details table thead, table.invoice tr.details table tbody {
  position: relative;
}
table.invoice tr.details table thead:after, table.invoice tr.details table tbody:after {
  content: '';
  height: 1px;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: -1px;
  background: #c8c3be;
}
table.invoice tr.totals td {
  padding-top: 0;
  width: 50%;
}
table.invoice tr.totals table tr td {
  padding-top: 0;
  padding-bottom: 0;
}
table.invoice tr.totals table tr td:nth-child(1) {
  font-weight: 500;
}
table.invoice tr.totals table tr td:nth-child(2) {
  text-align: right;
  font-weight: 200;
}
table.invoice tr.totals table tr:nth-last-child(2) td {
  padding-bottom: 0.5em;
}
table.invoice tr.totals table tr:nth-last-child(2) td:last-child {
  position: relative;
}
table.invoice tr.totals table tr:nth-last-child(2) td:last-child:after {
  content: '';
  height: 4px;
  width: 110%;
  border-top: 1px solid #1779ba;
  border-bottom: 1px solid #1779ba;
  position: relative;
  right: 0;
  bottom: -0.575rem;
  display: block;
}
table.invoice tr.totals table tr.total td {
  font-size: 1.2em;
  padding-top: 0.5em;
  font-weight: 700;
}
table.invoice tr.totals table tr.total td:last-child {
  font-weight: 700;
}
.additional-info h5 {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1779ba;
}


.datesearchbox .input-group-addon {
  display: none;
}

table.dataTable {
  padding: 30px 0;
  font-size: 12px;
}


footer {
  border-top: 10px solid var(--bs-primary);
}

footer a {
  color: #717171;
}

footer p {
  font-size: 14px;
}

.container-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

ul.footer-nav li {
  position: relative;
  padding-left: 20px;
  display: inline-table;
  width: 100%;
}

ul.footer-nav li:before {
  position: absolute;
  content: '\003E';
  color: var(--bs-primary);
  font-weight: bold;
  left: 0;
  top: 0;
  bottom: 0;
}

ul.footer-nav li a {
  font-size: 14px;
  float: left;
}


ul.footer-sosmed li svg.svg-inline--fa {
  width: 20px;
  height: 20px;
  float: left;
}

ul.footer-sosmed li svg path {
  fill: var(--bs-primary);
}

ul.footer-sosmed li a {
  border-radius: 10px;
  border: 3px solid var(--bs-primary);
  float: left;
  padding: 5px;
}

ul.footer-sosmed li a:hover {
  background: var(--bs-primary);
}

ul.footer-sosmed li a:hover svg path {
  fill: var(--bs-white);
}

.copyright {
  background: var(--bs-gray);
  padding: 20px 0;
}

.copyright p {
  font-size: 12px;
  margin-bottom: 0;
}



.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto 0;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input + label:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='50px' height='50px'%3E%3Cpath d='M 43.125 2 C 41.878906 2 40.636719 2.488281 39.6875 3.4375 L 38.875 4.25 L 45.75 11.125 C 45.746094 11.128906 46.5625 10.3125 46.5625 10.3125 C 48.464844 8.410156 48.460938 5.335938 46.5625 3.4375 C 45.609375 2.488281 44.371094 2 43.125 2 Z M 37.34375 6.03125 C 37.117188 6.0625 36.90625 6.175781 36.75 6.34375 L 4.3125 38.8125 C 4.183594 38.929688 4.085938 39.082031 4.03125 39.25 L 2.03125 46.75 C 1.941406 47.09375 2.042969 47.457031 2.292969 47.707031 C 2.542969 47.957031 2.90625 48.058594 3.25 47.96875 L 10.75 45.96875 C 10.917969 45.914063 11.070313 45.816406 11.1875 45.6875 L 43.65625 13.25 C 44.054688 12.863281 44.058594 12.226563 43.671875 11.828125 C 43.285156 11.429688 42.648438 11.425781 42.25 11.8125 L 9.96875 44.09375 L 5.90625 40.03125 L 38.1875 7.75 C 38.488281 7.460938 38.578125 7.011719 38.410156 6.628906 C 38.242188 6.246094 37.855469 6.007813 37.4375 6.03125 C 37.40625 6.03125 37.375 6.03125 37.34375 6.03125 Z'/%3E%3C/svg%3E");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  color: #757575;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#file-container .block{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #F7F7F7;
  border: 1px solid #6C6C6C;
  color: #6C6C6C;
  padding: 5px 10px;
  margin: 5px 0;
  display: inline-block;

  text-align: center;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
	width: 100%;
}
#file-container label.block{ background-color: #D0E9FF; }

#file-container label.block:hover{
  background-color: #B0D9FF;
  cursor: pointer;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

#file-container {
  border-top: 1px solid rgba(0, 0, 0, 0.11); margin-top: 10px; padding: 10px;
}

#fileList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 300px;
	display: inline-table;
	width: 100%;
}

#fileList li {
  margin: 10px;
  text-align: center;
  position: relative;
	width: calc(100% / 6 - 20px);
	float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#fileList li img {
	width: 40%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

#fileList .doc-w {
	width: 100%;
	padding-top: 100%;
	overflow: hidden;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

#fileList .ood {
	white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	height: calc(1em * 1.5 * 1);
}

#fileList li div.removeBtn {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30px;
	height: 30px;
	background-color: #2B91E3;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 30px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

div.ood{
  float:left;
  display:block;
  text-align: center;
  padding-right: 20px;
}

#fileRemove{
  color: red;
  font-size: 13px;
	width: 100%;
	cursor: pointer;
}
.separator{border-top: 1px solid rgba(0, 0, 0, 0.11);padding:5px};
.clear-both{clear:both;}


.img-avatar {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 100%;
  border: 1px solid #eee;
  overflow: hidden;
}

.img-avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


#map-canvas {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  margin-top: 8px;
}

#map-canvas h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.profile-warp {
  width: 100%;
  padding-top: 70%;
  max-width: 200px;
  position: relative;
  overflow: hidden;
}

.profile-warp img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
}


.doc_list {
  width: 100%;
  padding-top: 60%;
  display: inline-table;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--bs-primary);
  border-radius: 8px;
  margin: 10px 0;
}

.doc_list img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sc-layanan-wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.sc-layanan-wrap.full-wrap {
  max-width: 100%;
}

.sc-layanan-wrap .sc-layanan-item {
  max-width: 100%;
}

.sc-layanan-wrap .sc-layanan-item-img {
  padding-top: 0;
    width: 100%;
    height: 80px;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu.dropdown-hover { display: none; }
	.navbar .nav-item:hover .dropdown-menu.dropdown-hover { display: block; }
	.navbar .nav-item .dropdown-menu.dropdown-hover { margin-top:0; }
}

@media (max-width: 991px) {

  .navbar-collapse {
    margin-bottom: 20px;
  }

  .dropdown-menu-nav {
    top: 0 !important;
    position: relative;
    margin-top: 30px !important;
  }

  #nav-head .dropdown-menu-nav {
    margin-top: 0 !important;
  }

  .dropdown-menu-nav .nav-link {
    text-align: left;
  }

}

@media screen and (max-width: 767px) {

  h5 {
    font-size: 16px;
  }

  .p-m-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .wizard > .steps > ul > li {
    width: 100%;
  }

  .label-detail:after {
    position: relative;
  }#fileList li img

  .navbar-brand img {
    height: 36px;
  }

  #fileList li {
    width: calc(100% / 4 - 20px);
  }

}

@media screen and (max-width: 768px) {

  .img-wrapper {
    position: relative;
    padding-top: 80%;
    width: 100%;
  }


  .copyright {
    text-align: center;
  }

}


@media screen and (max-width: 500px) {
  #fileList li {
    width: calc(100% / 2 - 20px);
  }
}